.main__home {
  background: linear-gradient(to bottom, transparent, #000) #000;
}
.main__login {
  min-height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eff4f9;
}
